:root {
  --primary-color: #1f3247;
  --secondary-color: #8694a2;
  --secondary-card-bgc: #f1f5f8;

  --big-space: 40px;
  --little-space: 20px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.stats {
  display: flex;

  color: var(--secondary-color);
  font-size: 18px;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 10px 0px;
  border-top: 1px solid var(--secondary-color);
  background-color: var(--secondary-card-bgc);
  text-align: center;
}

.item:not(:last-child) {
  border-right: 1px solid var(--secondary-color);
}

.quantity {
  color: var(--primary-color);
  font-weight: 500;
}
